{% extends 'base.html' %}
{% block content %}
<h2 style="margin-top:10%">View Winners</h2>
<hr>
<center>
<table style="width:60%;" class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>Event ID</th>
            <th>Name</th>
            <th>Rank</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
            {% for i in data %}
    			<td style="text-transform:capitalize;">{{ i[1] }} </td>
    			<td>{{a[0]}}</td>
          <td>{{i[3]}}</td>
    			{% endfor %}
        </tr>
    </tbody>
    <!--Table body-->
</table>
</center>
{% endblock %}
